@import "../../lib/reset";
@import "../../lib/icon";
@import "../../lib/colors";
@import "../../lib/units";

// status color icon
 @mixin status-color-icon($color, $size) {
    display: inline-block;
    border-radius: 50%;
    height: $size;
    width: $size;
    background-color: $color;
    border: 2px solid #fff;
}

.mmf-select__wrapper {
    position: relative;
    display: inline-block;

    &:before {
        content: "";
        @include status-color-icon(inherit, $mmf-unit);
        position: absolute;
        left: $mmf-unit;
        top: 50%;
        transform: translateY(-50%);
        z-index: 12;
        border:transparent;
    }

    &:after {
        content: "keyboard_arrow_down";
        @include material-icon();
        align-items: center;
        bottom: 0;
        display: flex;
        pointer-events: none; // remove icon to be clickable (select receives input-event)
        position: absolute;
        right: 4px;
        top: 0;
    }
    
    &.is-disabled:after {
        opacity: $mmf-opacity--disabled;
    }

    &.with-color {
        select {
            padding-left: 3 * $mmf-unit;
        }

        &.mmf-select__wrapper:before {
            background-color: var(--select-icon-color);
        }

        &.mmf-select__wrapper.is-disabled:before {
            opacity: $mmf-opacity--disabled;
        }
    }
}

.mmf-select {
    // hide select arrow-icon
    -moz-appearance: window;
    -webkit-appearance: none;

    // hide touch borders
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    // select layout
    padding-left: $mmf-unit; // sane base padding, which conflicts with theme-material
    padding-top: $mmf-unit - 1; // sane base padding, which conflicts with theme-material
    padding-bottom: $mmf-unit - 1; // sane base padding, which conflicts with theme-material
    padding-right: (0.5 * $mmf-block + 4px);

    &:not([disabled]) {
        cursor: pointer;
    }
}