@import "../../lib/reset";
@import "../../lib/icon";
@import "../../lib/colors";
@import "../../lib/units";

.mmf-select__wrapper {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;

    &:after {
        content: "keyboard_arrow_down";
        @include material-icon();
        align-items: center;
        bottom: 0;
        display: flex;
        pointer-events: none; // remove icon to be clickable (select receives input-event)
        position: absolute;
        right: 4px;
        top: 0;
    }
    
    &.is-disabled:after {
        opacity: map-get($opacity, 2);
    }

    &.with-color {
        select {
            padding-left: 3 * $mmf-unit;
        }

        .select-icon {
            display: inline-block;
            border-radius: 50%;
            height: $mmf-unit;
            width: $mmf-unit;
            border: 2px $mmf-style--border map-get($color-basic, 6);
            position: absolute;
            left: $mmf-unit;
            top: 50%;
            transform: translateY(-50%);
            z-index: 12;
            border:transparent;
        }
    }
}

.mmf-select {
    width: 100%;
    box-sizing: border-box;

    // hide select arrow-icon
    -moz-appearance: window;
    -webkit-appearance: none;

    // hide touch borders
    -webkit-tap-highlight-color: map-get($color-basic, 7);

    // select layout
    padding-left: $mmf-unit; // sane base padding, which conflicts with theme-material
    padding-top: $mmf-unit - 1; // sane base padding, which conflicts with theme-material
    padding-bottom: $mmf-unit - 1; // sane base padding, which conflicts with theme-material
    padding-right: (0.5 * $mmf-block + 4px);

    &:not([disabled]) {
        cursor: pointer;
    }
}
