@import "../../lib/units";
@import "../../lib/reset";


@mixin select-solid() {
    &.mmf-select__wrapper {
        color: rgba($mmf-color--dark, $mmf-opacity--primary);
        border: $mmf-input-border--width solid darken($mmf-color--light, $mmf-color-distance);
        border-radius: $mmf-radius;
        overflow: hidden; // fix capped borders

        &:after {
            content: "arrow_drop_down";
        }

        &.is-enabled {
            &:hover,
            &.has-focus {
                border-color: $mmf-color--secondary;
                &:after {
                    color: $mmf-color--secondary;
                }
            }
        }

        .mmf-select {
            @include reset-select();
            outline: none;
        }
    }
}
