@import "../../lib/reset";
@import "../../lib/units";
@import "../../lib/typography";
@import "../../lib/colors";
@import "../../lib/input";
@import "../../lib/export-once";
@import "../../theme/icon";


@if export-once("mithril-material-forms/components/select") {

    $animation: 0.25s linear;

    div.mmf-select__wrapper {
        position: relative;
        display: inline-block;
        font-size: $mmf-select__text-size;

        &:after {
            content: "keyboard_arrow_down";
            @include material-icon();
            color: $mmf-color--text;
            position: absolute;
            font-size: 1.25em;
            right: 0;
            bottom: 0;
            transition: color $animation;
        }

        &:hover:after,
        &.has-focus:after {
            color: $mmf-color--primary;
        }
    }

    select.mmf-select {
        @include reset-select();

        color: $mmf-color--text;
        font-size: inherit;

        // behaviour
        cursor: pointer;
        outline: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        // select styling
        padding: 4px (0.5 * $mmf-block + 4px) 0 0;
        border: none;
        border-radius: 0;
        border-bottom: $mmf-input-border--width $mmf-style--border $mmf-color--border;
        background-color: inherit;

        transition: border-color $animation;

        &:focus {
            border-color: $mmf-color--primary;
        }

        &:hover {
            border-color: $mmf-color--primary;
        }
    }
}
