@import "../../lib/reset";
@import "../../lib/units";
@import "../../lib/typography";
@import "../../lib/colors";
@import "../../lib/input";
@import "../../lib/export-once";
@import "../../theme/icon";


@if export-once("mithril-material-forms/components/select") {

    $animation: 0.25s linear;

    div.mmf-select__wrapper {
        position: relative;
        display: inline-block;

        &:after {
            content: "keyboard_arrow_down";
            @include material-icon();
            position: absolute;
            font-size: 1.25em;
            right: 0;
            bottom: 0;
            color: $mmf-color--dark;
            transition: color $animation;
            pointer-events: none; // remove icon to be clickable (select receives input-event)
        }

        &:hover:after,
        &.has-focus:after {
            color: $mmf-color--primary;
        }
    }

    select.mmf-select {
        @include reset-select();
        @include with-input();

        font-size: inherit;

        // behaviour
        cursor: pointer;
        outline: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        // select styling
        padding-top: 4px;
        padding-right: (0.5 * $mmf-block + 4px);
        background-color: inherit;
    }

    select.mmf-select option {
        font-size: inherit;
        color: $mmf-color--dark;
    }
}
