@import "../../lib/units";
@import "../../lib/reset";
@import "../../lib/input";


@mixin select-solid() {
    &.mmf-select__wrapper {
        //styles are similar to input, is there a way to share them?
        color: map-get($color-basic, 0);
        font-size: 14px;
        line-height: 140.62%;
        letter-spacing: 0.05em;
        padding: $mmf-unit;
        border: $mmf-input-border--width solid map-get($color-basic, 4);
        border-radius: $mmf-radius;
        outline: 0;
        transition: border-color $mmf-transition;

        overflow: hidden; // fix capped borders
        padding:0;

        &.is-enabled {
            &:hover {
                border-color: map-get($color-highlight, 0);
            }

            &.has-focus {
                border-color: map-get($color-highlight, 0);
                @include elevation(1);
            }

            &:hover,
            &.has-focus {
            &:after {
                background-color: map-get($color-highlight, 5);
                color: map-get($color-highlight, 0);
            }
        }
        }

        &.is-disabled {
            color: rgba($mmf-color--dark, $mmf-opacity--disabled);
            border-color: map-get($color-basic, 5);
        }

        &:after {
            content: "arrow_drop_down";
            font-size: 1.8em;
            color: map-get($color-basic, 0);
            margin: 4px 0;
        }

        

        .mmf-select {
            @include reset-select();
            outline: none;
            padding: 8px 40px 8px 8px;
            letter-spacing: 0.05%;
            font-size: 14px;
            line-height: 140.62%;
            letter-spacing: 0.05em;
            color: map-get($color-basic, 0);
        }
    }
}
