@import "../../lib/reset";
@import "../../lib/units";
@import "../../lib/typography";
@import "../../lib/colors";


select.mmf-select {
    @include reset-select();

    font-size: $mmf-select__text-size;

    // layout
    margin-right: $mmf-block;
    // behaviour
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    // select styling
    padding: 4px (0.5 * $mmf-block + 4px) 4px 0;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid $mmf-input__border-color;

    // icon
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAkCAMAAAAO0sygAAAABGdBTUEAALGPC/xhBQAAAAFzUkdC AK7OHOkAAAB4UExURQAAADMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz MzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz MzMzMzMzMzMzMzMzMzMzMzMzM0IylWkAAAAndFJOUwABh+ocAzckD9IK+ZaxvaT+BkLjeMgV9dtp LVvwTvxe3JnzU7+n3hhRNDkAAADlSURBVEjHtdXXEoIwFIThBQELINgBwV7e/w11rKSA2TB+95ur f3IA99pBBMBJ7Pexf38Ak7HtfjHCw2Bot8+WePEuNvteHx/9Hr9fBagJVux+U0FQbcgHckhybu9C QQWVOOoDzt58P55Aw49N98MBtEYLs/3MQ4NlZrIvCzQyCSqcokVw+PnAFq2mIR+AaJ3SAUjmfACS iA/ANKjmAKSgTnwAIv0f1x6AyJup+3QNQlEqD8xBUYKKQJKCep4QSq47IRRXd0IY36NZPyGM99EU TwjjGVR6hDVvxweg/HEROgnOPv7rBrKmo0yVaaKY");
    background-repeat: no-repeat;
    background-color: inherit;
    background-size: 0.7em;
    background-position: right;
    // padding icon left (to text)
    padding-right: 4 * 8px !important;
}
