@import "../../lib/reset";
@import "../../lib/units";
@import "../../lib/typography";
@import "../../lib/colors";
@import "../../lib/input";


@mixin select-material() {
    &.mmf-select__wrapper {
        &:after {
            transition: color $mmf-transition;
            right: 0;
        }

        &.is-enabled {
            &:hover:after,
            &.has-focus:after {
                color: map-get($color-material, 0);
            }
        }

        .mmf-select {
            @include reset-select();
            outline: none;
            padding: 0;
            padding-right: (0.5 * $mmf-block);
            border-bottom: $mmf-input-border--width $mmf-style--border rgba(map-get($color-material, 3), map-get($opacity, 1));

            &:not([disabled]):focus,
            &:not([disabled]):hover {
                border-bottom: $mmf-input-border--width $mmf-style--border rgba(map-get($color-material, 0), map-get($opacity, 1));
            }

            &.is-enabled {
                @include with-input();
            }
        }

        &.with-color {
            .mmf-select {
                padding-left: (3 * $mmf-unit);
            }
        }
    }
}
