@import "../../lib/colors";
@import "../../lib/units";
@import "../../lib/typography";
@import "../../lib/input";
@import "../textarea/textarea";
@import "../../lib/export-once";


@if export-once("mithril-material-forms/components/textarea-form") {

    .mmf-form--textarea {
        @include with-moving-label("textarea");

        textarea {
            width: 100%;
            resize: vertical;

            border-sizing: border-box;
            border: none;
            border-bottom: $mmf-input-border--width $mmf-style--border $mmf-color--border;
            font-size: $mmf-input__text-size;
            line-height: 1.4em;
            background: transparent;

            outline: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

            &:focus {
                border-color: $mmf-color--primary;
            }
       }
    }
}
