@import "../../lib/colors";
@import "../../lib/units";


@mixin checkbox-solid() {
    &.mmf-checkbox {
        outline: 0;
        border: $mmf-input-border--width $mmf-style--border map-get($color-basic, 3);
        border-radius: $mmf-radius;
        transition: border-color $mmf-transition;
        width: 3 * $mmf-unit;
        height: 3 * $mmf-unit;

        &::after {
          content: "done";
          font-size: $mmf-font-big;
          transform: translate(10%, 10%); // center 
        }

        &:checked{
            background-color: map-get($color-solid , 2);
            border-color: map-get($color-solid, 0);
            &::after {
                color: white;   
            }

            &:not([disabled]):hover {
                background-color: map-get($color-solid, 3);
    
            }
        }

        &:not(:checked):after{
            opacity: 0;
        }

        &:not([disabled]):focus {
            border-color: map-get($color-solid, 0);
            @include elevation(1);
        }
    
        &:not([disabled]):hover {
            border-color: map-get($color-solid, 0);

        }
    
        &[disabled] {
            border-color: map-get($color-basic, 5);
        }
    }
}
