@import "../../lib/reset";
@import "../../lib/units";
@import "../../lib/colors";
@import "../../lib/interface";
@import "../../lib/input";
@import "../../lib/export-once";
@import "../../theme/icon";


@if export-once("mithril-material-forms/components/checkbox") {

    input.mmf-checkbox {
        @include reset-box();
        @include reset-input();
        @include clickable();
        @include with-input();

        position: relative;
        display: inline-block;
        font-size: $mmf-text-size--checkbox;
        width: 1em;
        height: 1em;
        border-bottom: none;

        transform: translateY(25%); // center to baseline

        &:checked:after {
            content: "check_box";
        }

        &:after {
            @include clickable();
            @include material-icon();
            content: "check_box_outline_blank";
            position: absolute;
            color: $mmf-color;
            font-size: inherit;
            // center above input
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: color 0.25s linear;
        }

        &:hover:after {
            color: $mmf-color;
        }
    }
}
