@import "../../lib/colors";
@import "../../lib/typography";
@import "../../lib/units";
@import "../../lib/export-once";


@if export-once("mithril-material-forms/components/checkbox-form") {

    .mmf-form--checkbox {

        .mmf-label {
            color: inherit;
        }

        .order--label-first .mmf-label {
            padding-right: $mmf-block-padding;
        }

        .order--label-last .mmf-label {
            padding-left: $mmf-block-padding;
        }
    }
}
