@import "../../lib/colors";
@import "../../lib/typography";
@import "../../lib/units";
@import "../../lib/export-once";


@if export-once("mithril-material-forms/components/checkbox-form") {

    .mmf-form--checkbox {

        label {
            color: inherit;
            padding-left: $mmf-block-padding;
        }

        .mmf-meta {
            color: inherit;
        }
    }
}
