@import "../../lib/units";


.mmf-form--checkbox {

    label {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }

    .mmf-label {
        padding-bottom: 0;
    }

    .order--label-first .mmf-label {
        padding-right: $mmf-unit;
    }

    .order--label-last .mmf-label {
        padding-left: $mmf-unit;
    }
}
