@import "../../lib/typography";
@import "../../lib/units";
@import "../../lib/reset";
@import "../../lib/colors";
@import "../../lib/interface";
@import "../../lib/export-once";
@import "../../lib/elevation";


@if export-once("mithril-material-forms/components/button") {

    button.mmf-button {
        @include reset-button();
        @include clickable();
        @include font-regular();
        height: 0.75 * $mmf-block;
        margin: 0.125 * $mmf-block;
        padding: 0 $mmf-block-padding;
        font-weight: medium;
        font-size: inherit;
        line-height: 1em;
        border-radius: $mmf-radius;

        color: $mmf-color--secondary;
        // background-color should actually be $mmf-color-secondary__contrast, but inherit is the more conform sane
        // default, since the button should not have any visible background er default
        background-color: inherit;

        transition: background-color 0.25s linear;

        &.is-enabled {
            &:hover,
            &:focus {
                background-color: $mmf-color--contrast;
            }
        }

        &.is-disabled {
            color: rgba($mmf-color--secondary, $mmf-opacity--disabled);
            &:focus,
            &:hover {
                background-color: inherit;
                color: rgba($mmf-color--secondary, $mmf-opacity--disabled);
                cursor: default;
            }
        }
    }

    button.mmf-button--raised {
        @include elevation(1);
        color: $mmf-color--contrast;
        background-color: $mmf-color--secondary;

        &.is-enabled {
            &:hover,
            &:focus {
                background-color: darken($mmf-color--secondary, $mmf-color-distance--focus);
            }
        }

        &.is-disabled {
            color: rgba($mmf-color--contrast, $mmf-opacity--disabled);
            background-color: rgba($mmf-color--secondary, $mmf-opacity--disabled);
            &:hover,
            &:focus {
                background-color: rgba($mmf-color--secondary, $mmf-opacity--disabled);
                cursor: default;
            }
        }
    }
}
