@import "../../lib/interface";
@import "../../lib/units";


.mmf-button {
    @include clickable();

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 0.75 * $mmf-block;
    margin: 0.125 * $mmf-block;
    padding: 0 $mmf-block-padding;

    .mmf-icon ~ * {
        padding-left: $mmf-unit;
    }
}
