@import "../../lib/typography";
@import "../../lib/units";
@import "../../lib/reset";
@import "../../lib/colors";
@import "../../lib/interface";
@import "../../lib/elevation";


button.mmf-button {
    @include reset-button();

    border-radius: $mmf-radius;
    color: $mmf-color--secondary;
    // background-color should actually be $mmf-color-secondary__contrast, but inherit is the more conform sane
    // default, since the button should not have any visible background per default
    background-color: inherit;

    transition: background-color $mmf-transition;

    &.is-enabled {
        &:hover,
        &:focus {
            background-color: $mmf-color--contrast;
        }
    }

    &.is-disabled {
        color: rgba($mmf-color--secondary, $mmf-opacity--disabled);
        &:focus,
        &:hover {
            background-color: inherit;
            color: rgba($mmf-color--secondary, $mmf-opacity--disabled);
            cursor: default;
        }
    }

    .mmf-icon {
        font-size: 1.5em;
    }
}

button.mmf-button--raised {
    @include elevation(1);
    color: $mmf-color--contrast;
    background-color: $mmf-color--secondary;

    &.is-enabled {
        &:hover,
        &:focus {
            background-color: darken($mmf-color--secondary, $mmf-color-distance--focus);
        }
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
        color: rgba($mmf-color--contrast, $mmf-opacity--disabled);
        background-color: rgba($mmf-color--dark, $mmf-opacity--disabled);
        cursor: default;
    }
}
