@import "../../lib/units";


.mmf-form--select {
    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: $mmf-unit;
    }

    .mmf-label {
        padding-bottom: 0;
    }

    .order--label-first .mmf-label {
        padding-right: $mmf-block-padding;
    }

    .order--label-last .mmf-label {
        padding-left: $mmf-block-padding;
    }
}


