@import "../../lib/colors";
@import "../../lib/typography";


.mmf-form--select {
    $size-column: 4 * 8px;
    $size-icon: 2 * 8px;

    color: $mmf-form__text-color;
    font-size: $mmf-form__text-size;

    select {
        margin-right: $mmf-block;
    }

    label {
        line-height: 29px;
    }

    .mmf-meta {
        color: inherit;
        font-size: inherit;
    }

    // .mmf-row {
    //     display: flex;
    //     flex-direction: row;

    //     .mmf-grow-2 {
    //         flex-grow: 2;
    //     }
    // }
}
