@import "../../lib/colors";
@import "../../lib/typography";


.mmf-select-form {
    $size-column: 4 * 8px;
    $size-icon: 2 * 8px;

    color: $mmf-form__text-color;
    font-size: $mmf-form__text-size;
    // border-color: transparent;
    // background-color: transparent;

    ul {
        li {
            font-size: inherit;
            color: $mmf-color--error;
        }
    }

    .mmf-meta {
        color: inherit;
        font-size: inherit;
    }
}
