@import "../../lib/colors";
@import "../../lib/typography";
@import "../../lib/export-once";


@if export-once("mithril-material-forms/components/select-form") {

    .mmf-form--select {
        color: $mmf-form__text-color;
        font-size: $mmf-input__text-size; // use input text size for missing floating labels

        select {

        }

        label {
            padding-left: $mmf-block-padding;
            line-height: 29px;
        }

        .mmf-meta {
            color: inherit;
            font-size: inherit;
        }
    }
}
