@import "../../lib/units";


@mixin selectform-solid() {
    &.mmf-form--select .order--label-first {
        flex-direction: column;
        align-items: flex-start;

        .mmf-label {
            padding-bottom: $mmf-unit;
        }
    }
}
