@import "../../lib/reset";
@import "../../lib/interface";
@import "../../lib/icon";
@import "../../lib/colors";
@import "../../lib/units";
@import "../../lib/elevation";


.mmf-switch.the-material,
.mmf-switch.the-solid {
    outline: none;
    -webkit-tap-highlight-color: map-get($color-basic, 7);
}


.mmf-switch {
    @include reset-input();
    $bg-color: rgba(map-get($color-basic, 7), map-get($opacity, 2));
    $switch-width: 2em;
    margin: 0;

    background-color: $bg-color;
    border-radius: $switch-width/2;
    border: 1px $mmf-style--border $bg-color;
    width: $switch-width;
    height: $switch-width/2;
    position: relative;
    overflow: hidden;

    &:after {
        background-color: map-get($color-basic, 6);
        border-radius: $switch-width/2;
        position: relative;
        content: "";
        display: block;
        height: 100%;
        width: 50%;
        left: 0;
        margin: 0;
        transition:
            left .3s cubic-bezier(0.175, 0.885, 0.320, 1.275),
            transform .3s cubic-bezier(0.175, 0.885, 0.320, 1.275),
            width .3s ease, margin .3s ease;
    }

    &:checked {
        background-color: map-get($color-basic, 8);
        &:after {
            left: 100%;
            transform: translate(-100%, 0);
        }
    }

    &:focus:after {
        @include elevation(2);
    }

    &[disabled] {
        opacity: map-get($opacity, 2);
    }

    &:not([disabled]) {
        @include clickable();
        &:hover {
            cursor: pointer;
        }
        &:active:after {
            width: 60%;
        }
    };
}
