@import "../../lib/units";
@import "../../lib/colors";
@import "../../lib/elevation";


@mixin list-solid() {
    &.mmf-list {
        .is-value {
            span.value {
                font-style: italic;
                &:before { content: "„"; }
                &:after { content: "“"; }
            }

            span.description {
                color: map-get($color-basic, 2);
                font-size: 0.8em;
                padding-top: 0.4em;
            }
        }
        .is-selected {
            background-color: map-get($color-basic, 5);

            span.value {
                color: map-get($color-solid, 0);
            }
        }
    }
}
