.mmf-popover {
    background: inherit;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    transform: translateZ(0);
    z-index: 1;

    &.is-hidden {
        display: none;
    }
}
