@import "../../lib/input";
@import "../../lib/units";
@import "../../lib/export-once";


@if export-once("mithril-material-forms/components/textarea") {

    textarea.mmf-textarea {
        @include with-input();

        width: 100%;
        margin: $mmf-height-label 0 0 0;
        resize: vertical;

        &:focus {
            outline-style: none;
            outline-width: 0;
        }
    }
}
