@import "../lib/units";
@import "../lib/elevation";
@import "../lib/export-once";


@if export-once("mithril-material-forms/theme/card") {

    .mmf-card {
        @include elevation(2);
        width: 100%;
        background: #eee;
        border-radius: $mmf-radius;
    }
}
