@import "../lib/colors";
@import "../lib/export-once";


@if export-once("mithril-material-forms/theme/form") {

    .mmf-form {

        ul {
            margin-top: 4px;

            li {
                font-size: inherit;
                color: $mmf-color--error;
            }
        }
    }
}
