@import "../lib/units";
@import "../lib/interface";
@import "../lib/icon";


.mmf-icon.interactive {
    @include clickable();
    @include material-icon();

    color: inherit;

    text-align: center;
    width: $mmf-block;
    height: $mmf-block;
    line-height: $mmf-block;

    transition: color 0.1s linear;

    &:hover {
        color: $mmf-color--secondary;
    }
}
