@import "../../lib/units";

.mmf-form--radio-buttons {
    .order--label-first{
        span {
            cursor: default;
        }

        .mmf-label {
            display: flex;
            flex-direction: column;
        }

    }

    .mmf-form__error {
        margin-top: $mmf-unit/2;
        padding-top: $mmf-unit;
    }
}
