$mmf-radius: 4px !default;
@import "../components/button/theme-ux";
@import "../components/checkbox/theme-ux";
@import "../components/select/theme-ux";
@import "../components/selectform/theme-ux";
@import "../components/input/theme-ux";
@import "../components/textarea/theme-ux";


@import "../lib/typography";
@import "../lib/colors";


.mmf-label {
    @include font-bold();
    font-size: $mmf-text-size--label;
    color: rgba($mmf-color--dark, $mmf-opacity--primary);
}

.mmf-form--input,
.mmf-form--textarea {
    .mmf-label {
        padding-bottom: $mmf-unit;
    }
}
